
@font-face {
	font-family: 'Circular Std';
	src: url("/adf-global/fonts/CircularStd-Black.eot");
	/* IE9 Compat Modes */
	src: url("/adf-global/fonts/CircularStd-Black.eot?#iefix") format("embedded-opentype"), url("/adf-global/fonts/CircularStd-Black.woff") format("woff"), url("/adf-global/fonts/CircularStd-Black.ttf") format("truetype"), url("/adf-global/fonts/CircularStd-Black.svg#69f4a7954d9815defd5c51897ccaf059") format("svg");
	/* Legacy iOS */
	font-style: normal;
	font-weight: 700;
}
@media screen and (-webkit-min-device-pixel-ratio: 0) {
	 @font-face{
		font-family: 'Circular Std';
		src: url("/adf-global/fonts/CircularStd-Black.svg#69f4a7954d9815defd5c51897ccaf059") format("svg");
		/* Legacy iOS */
	}
}
@font-face {
	font-family: 'Circular Std';
	src: url("/adf-global/fonts/CircularStd-Bold.eot");
	/* IE9 Compat Modes */
	src: url("/adf-global/fonts/CircularStd-Bold.eot?#iefix") format("embedded-opentype"), url("/adf-global/fonts/CircularStd-Bold.woff") format("woff"), url("/adf-global/fonts/CircularStd-Bold.ttf") format("truetype"), url("/adf-global/fonts/CircularStd-Bold.svg#b333381778fc1f96de44d359c7f8b95e") format("svg");
	/* Legacy iOS */
	font-style: normal;
	font-weight: 600;
}
@media screen and (-webkit-min-device-pixel-ratio: 0) {
	 @font-face{
		font-family: 'Circular Std';
		src: url("/adf-global/fonts/CircularStd-Bold.svg#b333381778fc1f96de44d359c7f8b95e") format("svg");
		/* Legacy iOS */
	}
}
@font-face {
	font-family: 'Circular Std';
	src: url("/adf-global/fonts/CircularStd-Book.eot");
	/* IE9 Compat Modes */
	src: url("/adf-global/fonts/CircularStd-Book.eot?#iefix") format("embedded-opentype"), url("/adf-global/fonts/CircularStd-Book.woff") format("woff"), url("/adf-global/fonts/CircularStd-Book.ttf") format("truetype"), url("/adf-global/fonts/CircularStd-Book.svg#dd452d63ae05ddb466f19713a7d09fd5") format("svg");
	/* Legacy iOS */
	font-style: normal;
	font-weight: 400;
}
@media screen and (-webkit-min-device-pixel-ratio: 0) {
	 @font-face{
		font-family: 'Circular Std';
		src: url("/adf-global/fonts/CircularStd-Book.svg#dd452d63ae05ddb466f19713a7d09fd5") format("svg");
		/* Legacy iOS */
	}
}
@font-face {
	font-family: 'Circular Std';
	src: url("/adf-global/fonts/CircularStd-Medium.eot");
	/* IE9 Compat Modes */
	src: url("/adf-global/fonts/CircularStd-Medium.eot?#iefix") format("embedded-opentype"), url("/adf-global/fonts/CircularStd-Medium.woff") format("woff"), url("/adf-global/fonts/CircularStd-Medium.ttf") format("truetype"), url("/adf-global/fonts/CircularStd-Medium.svg#a81919819e5d11fb78ee7eadc8883b0d") format("svg");
	/* Legacy iOS */
	font-style: normal;
	font-weight: 500;
}
@media screen and (-webkit-min-device-pixel-ratio: 0) {
	 @font-face{
		font-family: 'Circular Std';
		src: url("/adf-global/fonts/CircularStd-Medium.svg#a81919819e5d11fb78ee7eadc8883b0d") format("svg");
		/* Legacy iOS */
	}
}
